<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <title>Add Cargo Form</title>

    </head>
    <body background="/background.png">

        <!--Navigation bar-->
        <div id="nav-placeholder" th:replace="nav"/>
        <!--end of Navigation bar-->

        <form action="#" th:action="@{/cargos/save}"
              th:object="${cargo}" method="POST">

            <input type="hidden" th:field="${cargo.id}" />

            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th colspan="3" scope="col">
                            <font size="5">
                                <center>
                                    Name of Customer(*):

                                    <input type="hidden" th:field="${cargo.customerTransportOrder.id}" />
                                    <select  th:field="${cargo.customerTransportOrder.customer}" class="form-control">
                                        <option th:value=null>Choose here</option>
                                        <option th:each="i : ${customers}" th:value="${i.id}" th:text="${i.name}">
                                    </select>
                                    <div th:if="${#fields.hasErrors('customerTransportOrder.customer')}"
                                         class="alert alert-danger" role="alert" style="width: 800px;"
                                         th:errors="*{customerTransportOrder.customer}">Customer Name Error</div>
                                </center>

                            </font>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col"><font size="5">Order Date(*)</font></th>
                        <th scope="col"><font size="5">Pick Up Date(*)</font></th>
                        <th scope="col"><font size="5">Delivery Date(*)</font></th>
                    </tr>
                    <td>
                        <input type="date" th:field="${cargo.orderDate}" />
                        <div th:if="${#fields.hasErrors('orderDate')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{orderDate}">Order Date Error</div>
                    </td>
                    <td>
                        <input type="date" th:field="${cargo.pickupDate}" />
                        <div th:if="${#fields.hasErrors('pickupDate')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{pickupDate}">Pick Up Date Error</div>
                    </td>
                    <td>
                        <input type="date" th:field="${cargo.deliveryDate}" />
                        <div th:if="${#fields.hasErrors('deliveryDate')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{deliveryDate}">Delivery Date Error</div>
                    </td>
                    <tr>
                        <th scope="col"><font size="5">Cargo Parameters</font></th>
                        <th scope="col"><font size="5">Pick Up Address</font></th>
                        <th scope="col"><font size="5">Delivery Address</font></th>
                    </tr>
                    <td>
                        <table>
                            <tr>
                                <input type="hidden" th:field="${cargo.cargoParameters[0].id}">
                                <td>
                                    Quantity(*):
                                    <input type="number" th:field="${cargo.cargoParameters[0].quantity}" class="form-control" placeholder="Quantity">
                                    <div th:if="${#fields.hasErrors('cargoParameters[0].quantity')}"
                                         class="alert alert-danger" role="alert" style="width: 150px;"
                                         th:errors="*{cargoParameters[0].quantity}">Quantity Error</div>
                                </td>
                                <td>
                                    Kind of Unit(*):
                                    <select th:field="${cargo.cargoParameters[0].unit}" class="form-control">
                                        <option th:value=null>Choose here</option>
                                        <option th:each="i : ${units}" th:value="${i.id}" th:text="${i.name}">
                                    </select>
                                    <div th:if="${#fields.hasErrors('cargoParameters[0].unit')}"
                                         class="alert alert-danger" role="alert" style="width: 150px;"
                                         th:errors="*{cargoParameters[0].unit}">Kind of Unit Error</div>

                                </td>
                            </tr>
                            <tr>

                                <td>
                                    <center>
                                        <a class="btn btn-primary"
                                           th:href="@{/units/showFormForAddUnit}"
                                           target="_blank"
                                           rel="noopener noreferrer"
                                           role="button">Add Diffrent Kind of Unit</a>
                                    </center>
                                </td>
                                <td>
                                    <span th:if="${cargo.cargoParameters[0].unit != null}">Sign: </span>
                                    <span th:text="${cargo?.cargoParameters[0]?.unit?.name}" /><br>
                                    <span th:if="${cargo.cargoParameters[0].unit != null}">Description: </span>
                                    <span th:text="${cargo?.cargoParameters[0]?.unit?.description}" /><br>
                                    <span th:if="${cargo.cargoParameters[0].unit != null}">Dimensions (cm): </span>
                                    <span th:text="${cargo?.cargoParameters[0]?.unit?.width}" />
                                    <span th:if="${cargo.cargoParameters[0].unit != null}"> x </span>
                                    <span th:text="${cargo?.cargoParameters[0]?.unit?.length}" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Weight (kg)(*):
                                    <input type="number" th:field="${cargo.cargoParameters[0].weight}" class="form-control" placeholder="Weight">
                                    <div th:if="${#fields.hasErrors('cargoParameters[0].weight')}"
                                         class="alert alert-danger" role="alert" style="width: 150px;"
                                         th:errors="*{cargoParameters[0].weight}">Weight Error</div>
                                </td>
                                <td>
                                    Height (cm)(*):
                                    <input type="number" th:field="${cargo.cargoParameters[0].height}" class="form-control" placeholder="Height">
                                    <div th:if="${#fields.hasErrors('cargoParameters[0].height')}"
                                         class="alert alert-danger" role="alert" style="width: 150px;"
                                         th:errors="*{cargoParameters[0].height}">Height Error</div>
                                </td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Value (USD):
                                    <input type="number" step="0.01" th:field="${cargo.cargoValue}" class="form-control" placeholder="Value">
                                </td>
                                <div th:if="${#fields.hasErrors('cargoValue')}"
                                     class="alert alert-danger" role="alert" style="width: 150px;"
                                     th:errors="*{cargoValue}">Weight Error</div>
                                <td>
                                    Cargo Content:
                                    <input type="text" th:field="${cargo.cargoContentType}" class="form-control" placeholder="Content Type">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Extra Details:
                                    <input type="text" th:field="${cargo.description}" class="form-control" placeholder="Extra Details" style="height: 125px">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <input type="hidden" th:field="${cargo.shippingFrom.id}" />
                            <tr>
                                <td colspan="2">
                                    Name of Address(*):
                                    <input type="text" th:field="${cargo.shippingFrom.name}" class="form-control" placeholder="Name">
                                    <div th:if="${#fields.hasErrors('shippingFrom.name')}"
                                         class="alert alert-danger" role="alert" style="width: 250px;"
                                         th:errors="*{shippingFrom.name}">Address Name Error</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    First Address Line(*):
                                    <input type="text" th:field="${cargo.shippingFrom.firstAddressLine}" class="form-control" placeholder="First Address Line">
                                    <div th:if="${#fields.hasErrors('shippingFrom.firstAddressLine')}"
                                         class="alert alert-danger" role="alert" style="width: 250px;"
                                         th:errors="*{shippingFrom.firstAddressLine}">First Address Line Error</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Second Address Line:
                                    <input type="text" th:field="${cargo.shippingFrom.secondAddressLine}" class="form-control" placeholder="Second Address Line">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Zip Code(*):
                                    <input type="text" th:field="${cargo.shippingFrom.zipCode}" class="form-control" placeholder="Zip Code">
                                    <div th:if="${#fields.hasErrors('shippingFrom.zipCode')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingFrom.zipCode}">Zip Code Error</div>
                                </td>
                                <td>
                                    City(*):
                                    <input type="text" th:field="${cargo.shippingFrom.city}" class="form-control" placeholder="City">
                                    <div th:if="${#fields.hasErrors('shippingFrom.city')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingFrom.city}">City Error</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Country(*):
                                    <input type="text" th:field="${cargo.shippingFrom.country}" class="form-control" placeholder="Country">
                                    <div th:if="${#fields.hasErrors('shippingFrom.country')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingFrom.country}">Country Error</div>
                                </td>
                                <td>
                                    Phone Number:
                                    <input type="text" th:field="${cargo.shippingFrom.phoneNumber}" class="form-control" placeholder="Phone Number">
                                    <div th:if="${#fields.hasErrors('shippingFrom.phoneNumber')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingFrom.phoneNumber}">Phone Number Error</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <input type="hidden" th:field="${cargo.shippingTo.id}" />
                            <tr>
                                <td colspan="2">
                                    Name of Address(*):
                                    <input type="text" th:field="${cargo.shippingTo.name}" class="form-control" placeholder="Name">
                                    <div th:if="${#fields.hasErrors('shippingTo.name')}"
                                         class="alert alert-danger" role="alert" style="width: 250px;"
                                         th:errors="*{shippingTo.name}">Address Name Error</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    First Address Line(*):
                                    <input type="text" th:field="${cargo.shippingTo.firstAddressLine}" class="form-control" placeholder="First Address Line">
                                    <div th:if="${#fields.hasErrors('shippingTo.firstAddressLine')}"
                                         class="alert alert-danger" role="alert" style="width: 250px;"
                                         th:errors="*{shippingTo.firstAddressLine}">First Address Line Error</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Second Address Line:
                                    <input type="text" th:field="${cargo.shippingTo.secondAddressLine}" class="form-control" placeholder="Second Address Line">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Zip Code(*):
                                    <input type="text" th:field="${cargo.shippingTo.zipCode}" class="form-control" placeholder="Zip Code">
                                    <div th:if="${#fields.hasErrors('shippingTo.zipCode')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingTo.zipCode}">Zip Code Error</div>
                                </td>
                                <td>
                                    City(*):
                                    <input type="text" th:field="${cargo.shippingTo.city}" class="form-control" placeholder="City">
                                    <div th:if="${#fields.hasErrors('shippingTo.city')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingTo.city}">City Error</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Country(*):
                                    <input type="text" th:field="${cargo.shippingTo.country}" class="form-control" placeholder="Country">
                                    <div th:if="${#fields.hasErrors('shippingTo.country')}"
                                         class="alert alert-danger" role="alert" style="width: 200px;"
                                         th:errors="*{shippingTo.country}">Country Error</div>
                                </td>
                                <td>
                                    Phone Number:
                                    <input type="text" th:field="${cargo.shippingTo.phoneNumber}" class="form-control" placeholder="Phone Number">
                                    <div th:if="${#fields.hasErrors('shippingTo.phoneNumber')}"
                                         class="alert alert-danger" role="alert" style="width: 200;"
                                         th:errors="*{shippingTo.phoneNumber}">Phone Number Error</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <tr>
                            <th colspan="3" scope="col"><font size="5"><center>Carrier Assigned(*)</center></font>
                    </tr>
                    <td colspan="3">
                        <center>
                        <input type="hidden" th:field="${cargo.carrierTransportOrder.id}">
                        <select th:field="${cargo.carrierTransportOrder.carrier}" class="form-control">
                            <option th:value=null>Choose here</option>
                            <option th:each="c : ${carriers}" th:value="${c.id}" th:text="${c.name}">
                        </select>
                        <div th:if="${#fields.hasErrors('carrierTransportOrder.carrier')}"
                             class="alert alert-danger" role="alert" style="width: 800px;"
                             th:errors="*{carrierTransportOrder.carrier}">Carrier Error</div>
                        </center>
                    </td>
                    <tr>
                        <td colspan="3">
                            <center><input name="submit" type="submit" value="Add / Update Cargo" class="btn btn-primary btn-lg btn-block"></center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>