<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Customers List</title>
</head>

<body background="/background.png">

<!--Navigation bar-->
<div id="nav-placeholder" th:replace="nav"/>
<!--end of Navigation bar-->

    <table class="table table-sm table-dark">
        <thead class="thead-dark">
        <tr>
            <th>
                ID
                <br>
                <form th:action="@{/customers/searchById}" method="GET">
                    <input type="number" name="searchId" style="width: 80px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            </th>
            <th>
                Name of Company
                <br>
                <form th:action="@{/customers/searchByName}" method="GET">
                    <input type="text" name="searchName" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Address
                <br>
                <form th:action="@{/customers/searchByAddress}" method="GET">
                    <input type="text" name="searchAddress" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Country
                <br>
                <form th:action="@{/customers/searchByCountry}" method="GET">
                    <input type="text" name="searchCountry" style="width: 110px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Contact Person
                <br>
                <form th:action="@{/customers/searchByPerson}" method="GET">
                    <input type="text" name="searchPerson" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Invoice Details
                <form th:action="@{/customers/searchByInvoiceDetails}" method="GET">
                    <input type="text" name="searchInvoiceDetails" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>Edit/Delete Customer</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCustomer : ${customers}">
            <td>
                <span th:text="${tempCustomer?.id}" />
            </td>
            <td>
                <span th:text="${tempCustomer?.name}" />
            </td>
            <td>
                <span th:text="${tempCustomer?.address?.name}" /><br>
                <span th:text="${tempCustomer?.address?.firstAddressLine}" /> <br>
                <span th:if="${tempCustomer?.address?.secondAddressLine}">
                    <span th:text="${tempCustomer?.address?.secondAddressLine}" /> <br>
                </span>
                <span th:text="${tempCustomer?.address?.zipCode}" />
                <span th:text="${tempCustomer?.address?.city}" /> <br>
                <span th:if="${tempCustomer?.address?.phoneNumber}">
                    Phone: <span th:text="${tempCustomer?.address?.phoneNumber}" />
                </span>
            </td>
            <td>
                     <span th:text="${tempCustomer?.address?.country}" />
            </td>
            <td>
                    <span th:text="${tempCustomer?.contactDetails?.name}" /><br>
                    <span th:text="${tempCustomer?.contactDetails?.eMail}" /><br>
                    <span th:if="${tempCustomer?.contactDetails?.phoneNumber}">
                         Phone: <span th:text="${tempCustomer?.contactDetails?.phoneNumber}" />
                    </span>
            </td>
            <td>
                    <span th:if="${tempCustomer?.invoiceDetails?.nip}">
                        NIP: <span th:text="${tempCustomer?.invoiceDetails?.nip}" /><br>
                    </span>
                    <span th:text="${tempCustomer?.invoiceDetails?.address?.name}" /><br>
                    <span th:text="${tempCustomer?.invoiceDetails?.address?.firstAddressLine}" /><br>
                    <span th:if="${tempCustomer?.invoiceDetails?.address?.secondAddressLine}">
                        <span th:text="${tempCustomer?.invoiceDetails?.address?.secondAddressLine}" /> <br>
                    </span>
                    <span th:text="${tempCustomer?.invoiceDetails?.address?.zipCode}" />
                    <span th:text="${tempCustomer?.invoiceDetails?.address?.city}" />
            </td>
            <td>
                <a th:href="@{/customers/showFormForUpdateCustomer(customerId=${tempCustomer.id})}"
                   class="btn btn-primary btn-primary">
                    Edit Customer
                </a>
                <br>
                <a th:href="@{/customers/delete(customerId=${tempCustomer.id})}"
                   class="btn btn-primary btn-danger"
                   onclick="if (!(confirm('Are you sure you want to delete this customer? All existing instances (cargos, transport orders, invoices) which use information about this customer will be incomplete.'))) return false">
                    Delete Customer
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>