<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <title>Add Truck Form</title>

    </head>
    <body background="/background.png">

        <!--Navigation bar-->
        <div id="nav-placeholder" th:replace="nav"/>
        <!--end of Navigation bar-->

        <form action="#" th:action="@{/trucks/save}"
              th:object="${truck}" method="POST">

            <input type="hidden" th:field="*{id}" />

            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Truck Details</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Truck Registration(*): <input type="text" th:field="*{truckReg}"
                               class="form-control nb-2 col-2" placeholder="Truck Registration">
                        <div th:if="${#fields.hasErrors('truckReg')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{truckReg}">Truck Registration Error</div>
                        <br>
                        Lorry Registration: <input type="text" th:field="*{lorryReg}"
                               class="form-control nb-2 col-2" placeholder="Lorry Registration">
                        <br>
                        Carrier(*):
                        <select  th:field="*{carrier}" class="form-control nb-2 col-2">
                            <option th:value=null>Choose here</option>
                            <option th:each="i : ${carriers}" th:value="${i.id}" th:text="${i.name}">
                        </select>
                        <div th:if="${#fields.hasErrors('carrier')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{carrier}">Carrier Error</div>
                        <br>
                        Capacity (kg)(*): <input type="number" th:field="*{capacity}"
                               class="form-control nb-2 col-2" placeholder="Capacity">
                        <div th:if="${#fields.hasErrors('capacity')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{capacity}">Capacity Error</div>
                        <br>
                        Kind of Truck(*):
                        <select  th:field="*{kind}" class="form-control nb-2 col-2">
                            <option th:value=null>Choose here</option>
                            <option th:each="i : ${kindOfTrucks}" th:value="${i}" th:text="${i}">
                        </select>
                        <div th:if="${#fields.hasErrors('kind')}"
                             class="alert alert-danger" role="alert" style="width: 250px;"
                             th:errors="*{kind}">Kind of Truck Error</div>
                        <br>
                        Details: <input type="text" th:field="*{details}"
                                              class="form-control nb-2 col-2" placeholder="Details">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <center><button type="submit" class="btn btn-primary btn-lg btn-block">Add/Update Truck</button></center>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>