<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Trucks List</title>
</head>

<body background="/background.png">

<!--Navigation bar-->
<div id="nav-placeholder" th:replace="nav"/>
<!--end of Navigation bar-->

<table class="table table-sm table-dark">
    <thead class="thead-dark">
    <tr>
        <th>
            ID
            <br>
            <form th:action="@{/trucks/searchById}" method="GET">
                <input type="number" name="searchId" style="width: 80px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        </th>
        <th>
            Truck Registration
            <br>
            <form th:action="@{/trucks/searchByTruckReg}" method="GET">
                <input type="text" name="searchTruckReg" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Lorry Registration
            <br>
            <form th:action="@{/trucks/searchByLorryReg}" method="GET">
                <input type="text" name="searchLorryReg" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Carrier
            <br>
            <form th:action="@{/trucks/searchByCarrierName}" method="GET">
                <input type="text" name="searchCarrierName" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Capacity (kg)
            <br>
            <form th:action="@{/trucks/searchByCapacity}" method="GET">
                <input type="text" name="searchCapacity" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Kind of Truck
            <br>
            <form th:action="@{/trucks/searchByKind}" method="GET">
                <input type="text" name="searchKind" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Details
            <br>
            <form th:action="@{/trucks/searchByDetails}" method="GET">
                <input type="text" name="searchDetails" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>Edit / Delete Truck</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tampTruck : ${trucks}">
        <td>
            <span th:text="${tampTruck?.id}" />
        </td>
        <td>
            <span th:text="${tampTruck?.truckReg}" />
        </td>
        <td>
            <span th:text="${tampTruck?.lorryReg}" />
        </td>
        <td>
            <span th:text="${tampTruck?.carrier?.name}" />
        </td>
        <td>
            <span th:text="${tampTruck?.capacity}" />
        </td>
        </td>
        <td>
            <span th:text="${tampTruck?.kind}" />
        </td>
        </td>
        <td>
            <span th:text="${tampTruck?.details}" />
        </td>
        <td>
            <a th:href="@{/trucks/showFormForUpdateTruck(truckId=${tampTruck.id})}"
               class="btn btn-primary btn-primary">
                Edit Truck
            </a>
            <br>
            <a th:href="@{/trucks/delete(truckId=${tampTruck.id})}"
               class="btn btn-primary btn-danger"
               onclick="if (!(confirm('Are you sure you want to delete this truck? All existing instances (cargos, transport orders, invoices) which use information about this truck will be incomplete.'))) return false">
                Delete Truck
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>