<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Units List</title>
</head>

<body background="/background.png">

<!--Navigation bar-->
<div id="nav-placeholder" th:replace="nav"/>
<!--end of Navigation bar-->

    <table class="table table-sm table-dark">
        <thead class="thead-dark">
        <tr>
            <th>
                ID
                <br>
                <form th:action="@{/units/searchById}" method="GET">
                    <input type="number" name="searchId" style="width: 80px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            </th>
            <th>
                Sign of Unit
                <br>
                <form th:action="@{/units/searchByName}" method="GET">
                    <input type="text" name="searchName" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Length (cm)
                <br>
                <form th:action="@{/units/searchByLength}" method="GET">
                    <input type="text" name="searchLength" style="width: 110px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Width (cm)
                <br>
                <form th:action="@{/units/searchByWidth}" method="GET">
                    <input type="text" name="searchWidth" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>
                Description
                <br>
                <form th:action="@{/units/searchByDscription}" method="GET">
                    <input type="text" name="searchDscription" style="width: 150px;" />
                    <input type="submit" style="position: absolute; left: -9999px"/>
                </form>
            </th>
            <th>Edit / Delete Unit</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempUnit : ${units}">
            <td>
                <span th:text="${tempUnit?.id}" />
            </td>
            <td>
                <span th:text="${tempUnit?.name}" />
            </td>
            <td>
                <span th:text="${tempUnit?.length}" />
            </td>
            <td>
                <span th:text="${tempUnit?.width}" />
            </td>
            <td>
                <span th:text="${tempUnit?.description}" />
            </td>
            <td>
                <a th:href="@{/units/showFormForUpdateUnit(unitId=${tempUnit.id})}"
                   class="btn btn-primary btn-primary">
                    Edit Unit
                </a>
                <br>
                <a th:href="@{/units/delete(unitId=${tempUnit.id})}"
                   class="btn btn-primary btn-danger"
                   onclick="if (!(confirm('Are you sure you want to delete this unit? All existing instances (cargos, transport orders, invoices) which use information about this unit will be incomplete.'))) return false">
                    Delete Unit
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>