<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Carriers List</title>
</head>

<body background="/background.png">

<!--Navigation bar-->
<div id="nav-placeholder" th:replace="nav"/>
<!--end of Navigation bar-->

<table class="table table-sm table-dark">
    <thead class="thead-dark">
    <tr>
        <th>
            ID
            <br>
            <form th:action="@{/carriers/searchById}" method="GET">
                <input type="number" name="searchId" style="width: 80px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        </th>
        <th>
            Name of Company
            <br>
            <form th:action="@{/carriers/searchByName}" method="GET">
                <input type="text" name="searchName" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Address
            <br>
            <form th:action="@{/carriers/searchByAddress}" method="GET">
                <input type="text" name="searchAddress" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Country
            <br>
            <form th:action="@{/carriers/searchByCountry}" method="GET">
                <input type="text" name="searchCountry" style="width: 110px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Contact Person
            <br>
            <form th:action="@{/carriers/searchByPerson}" method="GET">
                <input type="text" name="searchPerson" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>Edit / Delete Carrier</th>
        <th>Trucks / Drivers</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tampCarrier : ${carriers}">
        <td>
            <span th:text="${tampCarrier?.id}" />
        </td>
        <td>
            <span th:text="${tampCarrier?.name}" />
        </td>
        <td>
            <span th:text="${tampCarrier?.address?.name}" /><br>
            <span th:text="${tampCarrier?.address?.firstAddressLine}" /> <br>
            <span th:if="${tampCarrier?.address?.secondAddressLine}">
                    <span th:text="${tampCarrier?.address?.secondAddressLine}" /> <br>
                </span>
            <span th:text="${tampCarrier?.address?.zipCode}" />
            <span th:text="${tampCarrier?.address?.city}" /> <br>
            <span th:if="${tampCarrier?.address?.phoneNumber}">
                    Phone: <span th:text="${tampCarrier?.address?.phoneNumber}" />
                </span>
        </td>
        <td>
            <span th:text="${tampCarrier?.address?.country}" />
        </td>
        <td>
            <span th:text="${tampCarrier?.contactDetails?.name}" /><br>
            <span th:text="${tampCarrier?.contactDetails?.eMail}" /><br>
            <span th:if="${tampCarrier?.contactDetails?.phoneNumber}">
                         Phone: <span th:text="${tampCarrier?.contactDetails?.phoneNumber}" />
                    </span>
        </td>
        <td>
            <a th:href="@{/carriers/showFormForUpdateCarrier(carrierId=${tampCarrier.id})}"
               class="btn btn-primary btn-primary">
                Edit Carrier
            </a>
            <br>
            <a th:href="@{/carriers/delete(carrierId=${tampCarrier.id})}"
               class="btn btn-primary btn-danger"
               onclick="if (!(confirm('Are you sure you want to delete this carrier? All existing instances (cargos, transport orders, invoices) which use information about this carrier will be incomplete.'))) return false">
                Delete Carrier
            </a>
        </td>
        <td>
            <a th:href="@{/carriers/showTrucks(carrierId=${tampCarrier.id})}"
               class="btn btn-primary btn-warning">
                Show Trucks
            </a>
            <br>
            <a th:href="@{/carriers/showDrivers(carrierId=${tampCarrier.id})}"
               class="btn btn-primary btn-warning">
                Show Drivers
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>