<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <title>Drivers List</title>
</head>

<body background="/background.png">

<!--Navigation bar-->
<div id="nav-placeholder" th:replace="nav"/>
<!--end of Navigation bar-->

<table class="table table-sm table-dark">
    <thead class="thead-dark">
    <tr>
        <th>
            ID
            <br>
            <form th:action="@{/drivers/searchById}" method="GET">
                <input type="number" name="searchId" style="width: 80px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        </th>
        <th>
            First Name
            <br>
            <form th:action="@{/drivers/searchByFirstName}" method="GET">
                <input type="text" name="searchFirstName" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Last Name
            <br>
            <form th:action="@{/drivers/searchByLastName}" method="GET">
                <input type="text" name="searchLastName" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Carrier
            <br>
            <form th:action="@{/drivers/searchByCarrierName}" method="GET">
                <input type="text" name="searchCarrierName" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Phone Number
            <br>
            <form th:action="@{/drivers/searchByPhoneNo}" method="GET">
                <input type="text" name="searchPhoneNo" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            ADR
            <br>
            <form th:action="@{/drivers/searchByHaveADR}" method="GET">
                <input type="text" name="searchHaveADR" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>
            Details
            <br>
            <form th:action="@{/drivers/searchByDetails}" method="GET">
                <input type="text" name="searchDetails" style="width: 150px;" />
                <input type="submit" style="position: absolute; left: -9999px"/>
            </form>
        </th>
        <th>Edit / Delete Driver</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="tampDriver : ${drivers}">
            <td>
                <span th:text="${tampDriver?.id}" />
            </td>
            <td>
                <span th:text="${tampDriver?.firstName}" />
            </td>
            <td>
                <span th:text="${tampDriver?.lastName}" />
            </td>
            <td>
                <span th:text="${tampDriver?.carrier?.name}" />
            </td>
            <td>
                <span th:text="${tampDriver?.phoneNo}" />
            </td>
            </td>
            <td>
                <span th:text="${tampDriver?.haveADR} ? 'Yes' : 'No'" />
            </td>
            </td>
            <td>
                <span th:text="${tampDriver?.details}" />
            </td>
            <td>
                <a th:href="@{/drivers/showFormForUpdateDriver(driverId=${tampDriver.id})}"
                   class="btn btn-primary btn-primary">
                    Edit Driver
                </a>
                <br>
                <a th:href="@{/drivers/delete(driverId=${tampDriver.id})}"
                   class="btn btn-primary btn-danger"
                   onclick="if (!(confirm('Are you sure you want to delete this driver? All existing instances (cargos, transport orders, invoices) which use information about this driver will be incomplete.'))) return false">
                    Delete Driver
                </a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>