<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <title>Add Driver Form</title>

    </head>
    <body background="/background.png">

        <!--Navigation bar-->
        <div id="nav-placeholder" th:replace="nav"/>
        <!--end of Navigation bar-->

        <form action="#" th:action="@{/drivers/save}"
              th:object="${driver}" method="POST">

            <input type="hidden" th:field="*{id}" />

            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">Driver Details</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        First Name(*): <input type="text" th:field="*{firstName}"
                               class="form-control nb-2 col-2" placeholder="First Name">
                        <div th:if="${#fields.hasErrors('firstName')}"
                             class="alert alert-danger" role="alert" style="width: 300px;"
                             th:errors="*{firstName}">First Name Error</div>
                        <br>
                        Last Name(*): <input type="text" th:field="*{lastName}"
                               class="form-control nb-2 col-2" placeholder="Last Name">
                        <div th:if="${#fields.hasErrors('lastName')}"
                             class="alert alert-danger" role="alert" style="width: 300px;"
                             th:errors="*{lastName}">Last Name Error</div>
                        <br>
                        Carrier(*):
                        <select  th:field="*{carrier}" class="form-control nb-2 col-2">
                            <option th:value=null>Choose here</option>
                            <option th:each="i : ${carriers}" th:value="${i.id}" th:text="${i.name}">
                        </select>
                        <div th:if="${#fields.hasErrors('carrier')}"
                             class="alert alert-danger" role="alert" style="width: 300px;"
                             th:errors="*{carrier}">Carrier Error</div>
                        <br>
                        Phone Number: <input type="text" th:field="*{phoneNo}"
                               class="form-control nb-2 col-2" placeholder="Phone Number">
                        <div th:if="${#fields.hasErrors('phoneNo')}"
                             class="alert alert-danger" role="alert" style="width: 300px;"
                             th:errors="*{phoneNo}">Phone Number Error</div>
                        <br>
                        Have ADR(*):
                        <select  th:field="*{haveADR}" class="form-control nb-2 col-2">
                            <option th:value=null>Choose here</option>
                            <option th:value="true" th:text="Yes"></option>
                            <option th:value="false" th:text="No"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('haveADR')}"
                             class="alert alert-danger" role="alert" style="width: 300px;"
                             th:errors="*{haveADR}">Phone Number Error</div>
                        <br>
                        Details: <input type="text" th:field="*{details}"
                                              class="form-control nb-2 col-2" placeholder="Details">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <center><button type="submit" class="btn btn-primary btn-lg btn-block">Add/Update Driver</button></center>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </body>
</html>