<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
.content {
  max-width: 1000px;
  margin: auto;
}
</style>

    <title>Main Menu</title>
</head>
<body background="background.png">
<br>
<div class="content">
    <table>
        <tr>
            <td>
                <div class="btn-group-vertical">
                    <center>
                        <a th:href="@{/customers/retriveCustomer}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Find Customer </a>
                        <a th:href="@{/customers/list}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Show All Customers</a>
                        <a th:href="@{/customers/showFormForAddCustomer}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Add Customer</a>
                        <a th:href="@{/carriers/retriveCarrier}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Find Carrier</a>
                        <a th:href="@{/carriers/list}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Show All Carriers</a>
                        <a th:href="@{/carriers/showFormForAddCarrier}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Add Carrier</a>
                        <a th:href="@{/cargos/retriveCargo}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Find Cargo</a>
                        <a th:href="@{/cargos/list}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Show All Cargos</a>
                        <a th:href="@{/cargos/showFormForAddCargo}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Add Cargo</a>
                    </center>
                </div>
            </td>
            <td>
                <div class="btn-group-vertical">
                    <center>
                        <a th:href="@{/trucks/retriveTruck}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Find Truck</a>
                        <a th:href="@{/trucks/list}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Show All Trucks</a>
                        <a th:href="@{/trucks/showFormForAddTruck}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Add Truck</a>
                        <a th:href="@{/drivers/retriveDriver}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Find Driver</a>
                        <a th:href="@{/drivers/list}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Show All Drivers</a>
                        <a th:href="@{/drivers/showFormForAddDriver}" class="btn btn-light btn-lg btn-block-group" style="width: 500px;">Add Driver</a>
                        <a th:href="@{/units/retriveUnit}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Find Unit</a>
                        <a th:href="@{/units/list}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Show All Units</a>
                        <a th:href="@{/units/showFormForAddUnit}" class="btn btn-primary btn-lg btn-block-group" style="width: 500px;">Add Unit</a>
                    </center>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <form th:action="@{logout}"
                      method="POST">
                    <center><button type="submit" class="btn btn-primary btn-lg btn-danger">Logout</button></center>
                </form>
            </td>
        </tr>

    </table>
</div>
</body>
</html>