<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!--<li class="nav-item active">-->
            <!--<a class="nav-link" th:href="@{/main}">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/customers/retriveCustomer">Find Customer</a>
                    <a class="dropdown-item" href="/customers/list">Show All Customers</a>
                    <a class="dropdown-item" href="/customers/showFormForAddCustomer">Add Customer</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Carriers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/carriers/retriveCarrier">Find Carrier</a>
                    <a class="dropdown-item" href="/carriers/list">Show All Carriers</a>
                    <a class="dropdown-item" href="/carriers/showFormForAddCarrier">Add Carrier</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cargos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/cargos/retriveCargo">Find Cargo</a>
                    <a class="dropdown-item" href="/cargos/list">Show All Cargos</a>
                    <a class="dropdown-item" href="/cargos/showFormForAddCargo">Add Cargo</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trucks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/trucks/retriveTruck">Find Truck</a>
                    <a class="dropdown-item" href="/trucks/list">Show All Trucks</a>
                    <a class="dropdown-item" href="/trucks/showFormForAddTruck">Add Truck</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Drivers
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/drivers/retriveDriver">Find Driver</a>
                    <a class="dropdown-item" href="/drivers/list">Show All Drivers</a>
                    <a class="dropdown-item" href="/drivers/showFormForAddDriver">Add Driver</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Units
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/units/retriveUnit">Find Unit</a>
                    <a class="dropdown-item" href="/units/list">Show All Units</a>
                    <a class="dropdown-item" href="/units/showFormForAddUnit">Add Unit</a>
                </div>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="#">Help</a>-->
            <!--</li>-->

        </ul>
    </div>
</nav>